<div class="container">
  <div class="card-panel z-depth-3">
    <h1><%= name %> pedido</h1>

    <%= form_with model: @order do |form| %>
      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@order.errors.count, "error") %> prohibited
            this order from being saved:
          </h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col s12 browser-default">
          <%= form.label :pedido, "Elije un departamento", class: "big-write" %>
          <%= form.select :pedido do %>
            <option value="1">Álmacen</option>
            <option value="2">Producción</option>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.label :codigo, "Código de producto" %>
          <%= form.text_field :codigo %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.label :solicitud, "Solicitado por:" %>
          <%= form.text_field :solicitud %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= form.label :surtido, "Surtido" %>
          <%= form.text_field :surtido %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit "Guardar", class: "btn indigo darken-4" %>
      </div>
    <% end %>
  </div>
</div>